@page
@model BrPo.Website.Areas.Admin.Pages.Paper.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create new Paper</h1>

<hr />
<form method="post">
    <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="PaperModel.Name" class="control-label">Name</label>
                    <input asp-for="PaperModel.Name" 
                           data-val-required="Name is required." 
                           data-val="true"
                           data-val-maxlength="The Name field has a maximum length of 255 characters. " 
                           data-val-maxlength-max="255"
                           name="PaperModel.Name"
                           class="form-control" />
                    <span asp-validation-for="PaperModel.Name" class="text-dangerdangerdanger"></span>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.Name" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group">
                    <label asp-for="PaperModel.Description" class="control-label">Description</label>
                    <input asp-for="PaperModel.Description" 
                           data-val-required="Description is required." 
                           data-val="true"
                           data-val-maxlength="The Description field has a maximum length of 255 characters." 
                           data-val-maxlength-max="255"
                           name="PaperModel.Description"
                           class="form-control" />
                    <span asp-validation-for="PaperModel.Description" class="text-danger"></span>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.Description" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group">
                    <label asp-for="PaperModel.GSMWeight" class="control-label">GSM Weight</label>
                    <input asp-for="PaperModel.GSMWeight" 
                           type="number"
                           data-val-required="GSM Weight is required." 
                           data-val="true"
                           data-val-number="The GSM Weight field must be a number." 
                           data-val-range-min="50" 
                           data-val-range-max="500" 
                           data-val-range="The GSM Weight field must be between 50 and 500."
                           name="PaperModel.GSMWeight"
                           class="form-control" />
                    <span asp-validation-for="PaperModel.GSMWeight" class="text-danger"></span>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.GSMWeight" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group checkbox">
                    @Html.CheckBoxFor(model => model.PaperModel.RollPaper) 
                    <label class="" for="PaperModel.RollPaper">@Html.DisplayNameFor(model => model.PaperModel.RollPaper)</label>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.RollPaper" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group">
                    <label asp-for="PaperModel.ColourProfilePath" class="control-label">Colour Profile File Path</label>
                    <input asp-for="PaperModel.ColourProfilePath" 
                           data-val="true"
                           data-val-maxlength="The Colour Profile File Path field has a maximum length of 100 characters." 
                           data-val-maxlength-max="100"
                           name="PaperModel.ColourProfilePath"
                           class="form-control" />
                    <span asp-validation-for="PaperModel.ColourProfilePath" class="text-danger"></span>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.ColourProfilePath" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group">
                    <label asp-for="PaperModel.RollWidth" class="control-label">Roll Width in mm</label>
                    <input asp-for="PaperModel.RollWidth" 
                           data-val="true"
                           data-val-number="The Roll Width field must be a number." 
                           data-val-range-min="0" 
                           data-val-range-max="1000" 
                           data-val-range="The GSM Weight field must be between 0 and 1000."
                           name="PaperModel.RollWidth"
                           class="form-control" />
                    <span asp-validation-for="PaperModel.RollWidth" class="text-danger"></span>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.RollWidth" data-valmsg-replace="true"></div>    
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="PaperModel.CutSheetHeight" class="control-label">Cut Sheet Height in mm</label>
                    <input asp-for="PaperModel.CutSheetHeight" 
                           data-val="true"
                           data-val-number="The GSM Weight field must be a number." 
                           data-val-range-min="0" 
                           data-val-range-max="1000" 
                           data-val-range="The GSM Weight field must be between 0 and 1000."
                           name="PaperModel.CutSheetHeight"
                           class="form-control" />
                    <span asp-validation-for="PaperModel.CutSheetHeight" class="text-danger"></span>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.CutSheetHeight" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group">
                    <label asp-for="PaperModel.CutSheetWidth" class="control-label">Cut Sheet Width in mm</label>
                    <input asp-for="PaperModel.CutSheetWidth" 
                           data-val="true"
                           data-val-number="The Cut Sheet Width field must be a number." 
                           data-val-range-min="0" 
                           data-val-range-max="1000" 
                           data-val-range="The GSM Weight field must be between 0 and 1000."
                           name="PaperModel.CutSheetWidth"
                           class="form-control" />
                    <span asp-validation-for="PaperModel.CutSheetWidth" class="text-danger"></span>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.CutSheetWidth" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group checkbox">
                    @Html.CheckBoxFor(model => model.PaperModel.IsActive) 
                    <label class="" for="PaperModel.IsActive">@Html.DisplayNameFor(model => model.PaperModel.IsActive)</label>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.IsActive" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group">
                    <label asp-for="PaperModel.CostPerMeter" class="control-label">Cost Per Meter</label>
                    <input asp-for="PaperModel.CostPerMeter" 
                           data-val="true"
                           data-val-number="The Cost Per Meter field must be a number." 
                           data-val-range-min="0" 
                           data-val-range-max="100" 
                           data-val-range="The Cost Per Meter field must be between 0 and 1000."
                           name="PaperModel.CostPerMeter"
                           class="form-control" />
                    <span asp-validation-for="PaperModel.CostPerMeter" class="text-danger"></span>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.CostPerMeter" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group">
                    <label asp-for="PaperModel.CostPerSheet" class="control-label">Cost Per Sheet</label>
                    <input asp-for="PaperModel.CostPerSheet" 
                           data-val="true"
                           data-val-number="The Cost Per Sheet field must be a number." 
                           data-val-range-min="0" 
                           data-val-range-max="100" 
                           data-val-range="The Cost Per Sheet must be between 0 and 1000."
                           name="PaperModel.CostPerSheet"
                           class="form-control" />
                    <span asp-validation-for="PaperModel.CostPerSheet" class="text-danger"></span>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.CostPerSheet" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group">
                    <label asp-for="PaperModel.ProductCode" class="control-label">Product Code</label>
                    <input asp-for="PaperModel.ColourProfilePath" 
                           data-val="true"
                           data-val-maxlength="The Product Code field has a maximum length of 50 characters." 
                           data-val-maxlength-max="50"
                           name="PaperModel.ProductCode"
                           class="form-control" />
                    <span asp-validation-for="PaperModel.ProductCode" class="text-danger"></span>
                    <div class="field-validation-valid float-left" data-valmsg-for="PaperModel.ProductCode" data-valmsg-replace="true"></div>    
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
            @Html.AntiForgeryToken()
    </div>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
