@page
@model BrPo.Website.Areas.Admin.Pages.Paper.CreateModel

@{
    ViewData["Title"] = "Create";
}

<style>
    .custom-control-label::before, 
    .custom-control-label::after {
        top: .8rem;
        width: 1.25rem;
        height: 1.25rem;
    }
    .custom-control-label{
        font-size: .9em;
        padding-top: 8px;
        padding-left: 10px;
    }
</style>

<h1>Create</h1>

<h4>PaperModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaperModel.Name" class="control-label">Name</label>
                <input asp-for="PaperModel.Name" class="form-control" />
                <span asp-validation-for="PaperModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperModel.Description" class="control-label">Description</label>
                <input asp-for="PaperModel.Description" class="form-control" />
                <span asp-validation-for="PaperModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperModel.GSMWeight" class="control-label">GSM Weight</label>
                <input asp-for="PaperModel.GSMWeight" class="form-control" />
                <span asp-validation-for="PaperModel.GSMWeight" class="text-danger"></span>
            </div>
@*            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.CheckBoxFor(model => model.PaperModel.RollPaper, new { @class = "custom-control-input" }) 
                    @Html.DisplayNameFor(model => model.PaperModel.RollPaper)
                </label>
            </div>*@

            <div class="form-group custom-control form-control-lg custom-checkbox">
                @Html.CheckBoxFor(model => model.PaperModel.RollPaper, new { @class = "custom-control-input" }) 
                <label class="custom-control-label" for="customCheck1">@Html.DisplayNameFor(model => model.PaperModel.RollPaper)</label>
            </div>

@*            @Html.EditorFor(model => model.PaperModel.RollPaper)
*@@*            <div class="form-group">
                <label asp-for="PaperModel.DateCreated" class="control-label"></label>
                <input asp-for="PaperModel.DateCreated" class="form-control" />
                <span asp-validation-for="PaperModel.DateCreated" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="PaperModel.ColourProfilePath" class="control-label">Colour Profile File Path</label>
                <input asp-for="PaperModel.ColourProfilePath" class="form-control" />
                <span asp-validation-for="PaperModel.ColourProfilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperModel.RollWidth" class="control-label">Roll Width</label>
                <input asp-for="PaperModel.RollWidth" class="form-control" />
                <span asp-validation-for="PaperModel.RollWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperModel.CutSheetHeight" class="control-label">Cut Sheet Height</label>
                <input asp-for="PaperModel.CutSheetHeight" class="form-control" />
                <span asp-validation-for="PaperModel.CutSheetHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperModel.CutSheetWidth" class="control-label">Cut Sheet Width</label>
                <input asp-for="PaperModel.CutSheetWidth" class="form-control" />
                <span asp-validation-for="PaperModel.CutSheetWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
