@using BrPo.Website.Areas.Pictures.Models
@using BrPo.Website.Services.Image.Services
@model CarouselModel
@inject IImageService ImageService;
@{
    var index = 0;
}
@foreach(var item in Model.Content)
                    {
                        var titleLabel = item.ImageGalleryItemId == 0 ? "gallery" : "image";
                        var isActive = index++ == 0 ? "active" : "";
                        <div class="carousel-item @isActive">
                            <a href="@item.Link"
                               class="@item.LinkClass"
                               data-toggle="tooltip"
                               data-imageFileId="@item.ImageFileId"
                               data-imageGalleryId="@item.ImageGalleryId"
                               data-imageGalleryItemId="@item.ImageGalleryItemId"
                               title="View this @titleLabel">
                                @if (item.ImageFileId == 0)
                                {
                                <img class="carouselImage" src="~/resources/images/NoContent.png">
                                }
                                else
                                {
                                <img class="carouselImage" src="data:image/png;base64,@ImageService.GetBase64Thumbnail(item.ImageFileId, Model.ContentHeight)">
                                }
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.Name</h5>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }