@using BrPo.Website.Services.Image.Models;
@model ImageGalleryItem
        <hr/>
        @{
            var editorLabel = Model.Id != 0  ? $"Edit : {Model.Name}" : "Create a new gallery item";
        }
        <div class="form-group row m-0 mb-3">
            <h3 class="ellipsis" data-toggle="tooltip" title="@Model.Name">@editorLabel</h3>
        </div>

        <div class="form-group row m-0">
            <div id="alert-container" class="mt-3 alert alert-info alert-dismissible fade show w-100 " style="margin-top: 0!important;">
                <i id="alert-icon" class="fas fa-info-circle"></i>
                <span id="alert-message"></span>
                <button type="button" class="close alert-close-js" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <form id="itemForm">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input type="hidden" asp-for="Id" name="Id"/>
            <input asp-for="ImageFileId" type="hidden" name="ImageFileId" />
            <input asp-for="DateCreated" type="hidden" />
            @Html.HiddenFor(m => Model.ImageFile.Height, new { id = "ImageFileHeight"})
            @Html.HiddenFor(m => Model.ImageFile.Width, new { id = "ImageFileWidth"})
            <input type="hidden" name="SelectedPaperSurfaceId" id="SelectedPaperSurfaceId" value="" />
            <input type="hidden" name="SelectedPaperTextureId" id="SelectedPaperTextureId" value="" />
            <input type="hidden" name="PaperSurface" id="PaperSurface" value="@Model.PaperSurface" />
            <input type="hidden" name="PaperTexture" id="PaperTexture" value="@Model.PaperTexture" />

            <div class="row">
                <div class="col-12">
                    <table class="form-table">
                        <tr><th></th><th></th><th></th></tr>
                        <tr>
                            <td><label asp-for="ImageFile.OriginalFileName">Filename</label></td>
                            <td colspan="2">
                                <input asp-for="ImageFile.OriginalFileName" 
                                       name="ImageFile.OriginalFileName" 
                                       class="form-control" 
                                       disabled="disabled" />
                                <span asp-validation-for="ImageFile.OriginalFileName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="form-table-spacer-row"><td><div>&nbsp;</div></td></tr>
                        <tr>
                            <td>
                                <label asp-for="Name">
                                    Name<i class="fas fa-question-circle"
                                            title="How the name is used"
                                            data-toggle="hover" 
                                            data-html="true"
                                            data-content="<h6>Think about the name</h6>
<p>The name you give your image here will appear below the image.</p>
<p>The name must be unique in your image collection</p>
<p>The name will form part of the image's URL</p>
<p>It will also appear on invoices.</p>
<p>Your image will also be available on it's own page where the name will be crawled by search engines, and available in public search. So once set, it is unwise to change it.<p>
<p>For the more nerdy, the name is also used in image alt tags.</p>"></i>
                                </label>
                            </td>
                            <td colspan="2">
                                <input asp-for="Name" 
                                          class="form-control" 
                                          id="Name" 
                                          name="Name"
                                          type="text"
                                          placeholder="Name"
                                          title="Required, 2 - 50 chars, may only contain alpha-numerics, spaces and _"
                                          data-toggle="tooltip"
                                          data-val="true"
                                          data-val-required="Required" 
                                          data-val-regex="May only contain alpha-numerics, spaces and _"
                                          data-val-regex-pattern="^[a-zA-Z0-9_ ]+$"
                                          data-val-maxlength="length should be 2 - 50 characters"
                                          />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="form-table-spacer-row"><td><div>&nbsp;</div></td></tr>
                        <tr>
                            <td>
                                <label asp-for="Description">
                                    Description<i class="fas fa-question-circle"
                                                    title="How the description is used"
                                                    data-toggle="hover" 
                                                    data-html="true"
                                                    data-content="<p>The description you give your image here will appear below the image when it is displayed in galleries.</p>
<p>Your image will also be available on it's own page where the description will be crawled by search engines, and available in public search.<p>"></i>
                                </label>
                            </td>
                            <td colspan="2">
                                <textarea asp-for="Description" 
                                          class="form-control" 
                                          id="Description" 
                                          rows="2" 
                                          name="Description"
                                          type="text"
                                          placeholder="Description"
                                          title="Optional, up to 1000 chars, may only contain alpha-numerics, spaces and . , / _ :"
                                          data-toggle="tooltip"
                                          data-val="true"
                                          data-val-regex="May only contain alpha-numerics, spaces and the following characters: . , / _ :"
                                          data-val-regex-pattern="^[a-zA-Z0-9_ .,/:]+$"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </td>
                        </tr>
                        @if (Model.Id != 0)
                        {
                        <tr class="form-table-spacer-row"><td><div>&nbsp;</div></td></tr>
                        <tr>
                            <td>
                                <label>
                                    Tags<i class="fas fa-question-circle"
                                            title="Tags"
                                            data-toggle="hover" 
                                            data-html="true"
                                            data-content="<p>Tags can be used to add descriptive attributes to your image, like <strong>Sunset</strong> or <strong>Brockwell Park</strong>.</p>
<p>You add as many as you like to your image.<p>
<p>Tags will be crawled by search engines, and available in public search.</p>
<p>Tags are also searchable here in the site."></i>
                                </label>
                            </td>
                            <td colspan="2">
                                <div class="input-group">
                                    <input class="form-control" 
                                              id="Tags" 
                                              rows="2" 
                                              name="Tags"
                                              type="text"
                                              placeholder="Add tags one at a time with the + button"
                                              data-val="true"
                                              title="3 to 50 chars, not case-sensitive, may only contain alpha-numerics, spaces and _"
                                              data-imageGalleryItemId="@Model.Id"
                                              data-toggle="tooltip"
                                              data-val-length="Must be 3 to 50 chars in length"
                                              data-val-regex="May only contain characters, spaces and _"
                                              data-val-regex-pattern="^[a-zA-Z0-9_ ]+$" />
                                    <div class="input-group-append">
                                        <button type="button" 
                                                class="btn btn-primary" 
                                                id="create-image-tag" 
                                                data-imageGalleryItemId="@Model.Id"
                                                data-toggle="tooltip" 
                                                title="Add tag">
                                            <i class="fas fa-plus fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="Tags" class="text-danger"></span>
                                <div id="tag-area">
                                    <partial name="ImageTagsPartial" model="Model.Tags"/>
                                </div>
                            </td>
                        </tr>                
                        }
                        <tr style="bottom: -9px; position: relative;">
                            <td><i class="fas fa-question-circle"
                                    title="Print size and pricing"
                                    data-toggle="hover" 
                                    data-html="true"
                                    data-content="<p>You set minimum and maximum values for size and price.
Prints are then available between the specified sizes.</p>
<p>The final sale price is calculated on a sliding scale, based on the print size chosen at sale time.</p>
<p>You can set minimums and maximums to the same values to sell prints at just one size.</p>
<p>The minimum size allowed fits your image to A4 (297 x 210mm), maximum is a little over A2 width (432mm) x 2000mm.</p>"></i>
                            </td>
                            <td><span class="">Minimum</span></td>
                            <td><span class="">Maximum</span></td>
                        </tr>
                        <tr class="form-table-spacer-row"><td><div>&nbsp;</div></td></tr>
                        <tr>
                            <td>Height</td>
                            <td>
                                <input asp-for="MinHeight" 
                                       name="MinHeight" 
                                       type="number" 
                                       step="1"
                                       class="form-control integer-control-js" 
                                       id="MinHeight" 
                                       placeholder="Minimum height" 
                                       data-val="true"
                                       data-val-min="Must be an integer between @Model.MinHeight and @Model.MaxHeight" 
                                       data-val-max="Must be an integer between @Model.MinHeight and @Model.MaxHeight" 
                                       min="@Model.MinHeight" 
                                       max="@Model.MaxHeight" 
                                       data-toggle="tooltip" 
                                       title="Enter the Minimum Height of prints available for sale"/>
                                       <span asp-validation-for="MinHeight" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="MaxHeight" 
                                       name="MaxHeight" 
                                       type="number" 
                                       step="1"
                                       class="form-control integer-control-js" 
                                       id="MaxHeight" 
                                       placeholder="Maximum height" 
                                       data-val="true"
                                       data-val-number="Must be an integer between @Model.MinHeight and @Model.MaxHeight" 
                                       min="@Model.MinHeight" 
                                       max="@Model.MaxHeight" 
                                       data-toggle="tooltip" 
                                       title="Enter the Maximum Height of prints available for sale"/>
                                       <span asp-validation-for="MaxHeight" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="form-table-spacer-row"><td><div>&nbsp;</div></td></tr>
                        <tr>
                            <td>Width</td>
                            <td>
                                <input asp-for="MinWidth" 
                                       name="MinWidth" 
                                       type="number" 
                                       step="1"
                                       class="form-control integer-control-js" 
                                       id="MinWidth" 
                                       placeholder="Minimum width" 
                                       data-val="true"
                                       data-val-number="Must be an integer between @Model.MinWidth and @Model.MaxWidth" 
                                       min="@Model.MinWidth" 
                                       max="@Model.MaxWidth" 
                                       data-toggle="tooltip" 
                                       title="Enter the Minimum Width of prints available for sale"/>
                                <span asp-validation-for="MinWidth" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="MaxWidth" 
                                       name="MaxWidth" 
                                       type="number" 
                                       step="1"
                                       class="form-control integer-control-js" 
                                       id="MaxWidth" 
                                       placeholder="Maximum width" 
                                       data-val="true"
                                       data-val-number="The Maximum Width field must be an integer between @Model.MinWidth and @Model.MaxWidth." 
                                       min="@Model.MinWidth" 
                                       max="@Model.MaxWidth" 
                                       data-toggle="tooltip" 
                                       title="Enter the Maximum Width of prints available for sale"/>
                                <span asp-validation-for="MaxWidth" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="form-table-spacer-row"><td><div>&nbsp;</div></td></tr>
                        <tr>
                            <td>Price</td>
                            <td>
                                <input asp-for="MinPrice" 
                                       name="MinPrice" 
                                       type="number" 
                                       step="1"
                                       class="form-control integer-control-js" 
                                       id="MinPrice" 
                                       placeholder="Minimum price" 
                                       data-val="true"
                                       data-val-number="The Minimum Price field must be an integer between 20 and 10000." 
                                       min="20" 
                                       max="10000" 
                                       data-toggle="tooltip" 
                                       title="Enter the Minimum Price of prints available for sale"/>
                                <span asp-validation-for="MinPrice" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="MaxPrice" 
                                       name="MaxPrice" 
                                       type="number" 
                                       step="1"
                                       class="form-control integer-control-js" 
                                       id="MaxPrice" 
                                       placeholder="Maximum price" 
                                       data-val="true"
                                       data-val-number="The Maximum Price field must be an integer between 20 and 10000." 
                                       min="20" 
                                       max="10000" 
                                       data-toggle="tooltip" 
                                       title="Enter the Maximum Price of prints available for sale"/>
                                <span asp-validation-for="MaxPrice" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="form-table-spacer-row"><td><div>&nbsp;</div></td></tr>
                        <tr>
                            @{
                                var galleryLabel = Model.Id == 0 ? "Gallery" : "Galleries";
                            }
                            <td>
                                <label>
                                    @galleryLabel<i class="fas fa-question-circle"
                                                    title="@galleryLabel"
                                                    data-toggle="hover" 
                                                    data-html="true"
                                                    data-content="<p>You can add your image to one or more galleries.</p>
<p>Galleries will be crawled by search engines and available in public search.</p>"></i>
                                </label>
                            </td>
                            <td colspan="2">
                                <div class="input-group" id="gallery-select-container-js">
                                    @{
                                        var addToGalleryButtonClass = Model.Id == 0 ? "d-none" : string.Empty;
                                    }
                                    <div class="input-group-append @addToGalleryButtonClass">
                                        <button type="button" 
                                                class="btn btn-primary" 
                                                id="add-to-gallery" 
                                                data-imageGalleryItemId="@Model.Id"
                                                data-toggle="tooltip" 
                                                title="Add to Gallery">
                                            <i class="fas fa-plus fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                                <div id="galleries-area">
                                    <partial name="GalleryChipsPartial" model="Model.Galleries"/>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="paper-selects-container-js"></div>

            <div class="form-group row">
                @{
                    var label = Model.Id != 0  ? "Save gallery item" : "Create gallery item";
                }
                <button type="button" id="addOrEdit" class="btn btn-primary table-button mt-0 ml-3 mr-3">@label</button>
            </div>
        </form>